/*initial overwrites and setup */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
}

*:focus {
    outline: 0;
}

:root{
    --main-color: #f41d1d;
};

/*home page layout and styling*/
/*image animation */
p {
    color: #f41d1d;
    font-size: 20px;
    font-weight: 400;
    background-color: red;
}

#imgOne {
    background-image: url("./img/barOne.jpeg");
}

#imgTwo {
    background-image: url("./img/barTwo.jpeg");
}

#imgThree {
    background-image: url("./img/barThree.jpeg");
}

.imageContainer {
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin-left: 2%;
    float: left;
    border-radius: 50%;
}

.imageContainer:hover { 
    border-radius: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all 1s ease-in;  
}

svg {
    z-index: -10;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
}

#oaklen {
    border-bottom: 1px dotted;
}

#oaklen:hover {
    color: var(--main-color);
    border-bottom: 1px dotted #f41d1d;
}

#home {
    height: 80vh;
    display: block;
    text-align: left;
}

#headerBlock {
    float: left;
    width: 40%;
}

#centerHeader {
    margin-top: 30vh;
}

h1,h2 {
    margin: 0px;
    margin-left: 3%;
}

h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 90px;
    font-family: 'Actor', sans-serif; 
}

h2 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 200;
}
